@import 'variables';

@mixin inlineAlignElement {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin iconBtnStyle {
  background: $bg-icon-container;
  color: $color-icon;
  &:hover {
    background: $color-hover;
  }
}

@mixin removeInputStyle {
  border: none;
  background: none;
  outline: 0;
}

@mixin easeInOut300ms {
  transition: 0.3s ease-in-out;
  /* support transitions in all browser */
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
