@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  max-width: $body-max-width;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  header {
    height: $header-height;
    padding: 0.5rem;
    background: $bg-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      color: $header-font-color;
    }
    form {
      background: $bg-search-box;
      height: 2rem;
      width: $search-box-width;
      display: inline-flex;
      input {
        flex: 1;
        height: 100%;
        @include removeInputStyle;
      }
      button {
        width: 2rem;
        border: none;
        background: $bg-icon-container;
        color: $color-icon;
        @include inlineAlignElement;
        @include iconBtnStyle;
      }
    }
  }
  main {
    display: flex;
    width: 100%;
    flex: 1;
    section {
      height: 100%;
      flex: 1;
      padding: 0.5rem;
      background: $bg-content;
    }
    aside {
      padding: 0.5rem;
      width: $sidebar-width;
      height: 100%;
      background: $bg-sidebar;
    }
  }
}
