//size
$body-max-width: 1200px;
$header-height: 4rem;
$search-box-width: 14rem;
$sidebar-width: 15rem;

//color
$bg-header: lightBlue;
$bg-search-box: #ffffff;
$bg-icon-container: #259b85;
$color-icon: #ffffff;
$bg-content: #9face6;
$bg-sidebar: #d9afd9;
