//size
$body-max-width: 1200px;
$header-height: 4rem;
$search-box-width: 14rem;
$sidebar-width: 15rem;

// color - base
$white: #ffffff;

//color - background
$bg-header: #000000;
$bg-search-box: $white;
$bg-icon-container: #259b85;
$bg-content: linear-gradient(180deg, #bfcae2 0%, #ff888271 100%);
$bg-sidebar: #ff8882e0;
$color-hover: #ff8982;

// color - font
$header-font-color: $white;
$color-icon: $white;

// media
$breakpoint-tablet: 768px;
